---
layout: default
---

{% if site.tags != "" %}
  {% include collecttags.html %}
{% endif %}

<iframe src="http://editor.giscloud.com/rest/1/maps/818532/render.iframe?bound=399918.5319880396,6800143.784362406,848451.013965454,7067979.131473662&toolbar=true&popups=true&layerlist=true" width="600" height="400" frameborder="0"></iframe> 

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Lees verder</a>
    </article>
  {% endfor %}
</div>


